@using Microsoft.AspNetCore.Components.Web
@model RasmusWebShop.ViewModels.ProductsCategoryViewModel

@{
	var title = "";
	foreach (var product in Model.Products)
	{
		title = product.Category;
		break;
	}

	ViewData["Title"] = ": " + title;

}
<h1>@title</h1>
<div class="row info d-flex align-items-center justify-content-center">
	@foreach (var product in Model.Products)
	{
		
		<div class="product-thumbnail col-lg-3 col-md-5 col-sm-10 shadow m-3 border">
			<a asp-controller="Products" asp-action="Product" asp-route-Id="@product.Id">
				<img src="~/img/underconstruction.gif" class="img-fluid" alt="Responsive image">
				<h3 class="mt-2 p-2">@product.Title</h3>
			</a>
			<p class="p-2">$ @product.Price</p>
		
		</div>
	}
</div>
