@using Microsoft.AspNetCore.Components.Web
@model RasmusWebShop.ViewModels.ProductNewViewModel

@{

	ViewData["Title"] = ": New product";

}
<ol class="breadcrumb bg-transparent">
	<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
	<li class="breadcrumb-item"><a asp-controller="Products" asp-action="Index">Products</a></li>
	<li class="breadcrumb-item disabled"><a href="#">New product</a></li>
</ol>
<h1>New product</h1>
<form method="post" asp-controller="Products" asp-action="New">
	<div class="row d-flex align-items-center justify-content-center">
		<div class="product-edit-view col-lg-6 col-md-8 col-sm-10 m-3 border">

			<div class="title-edit input-group d-block mb-2 mt-3">
				<label class="orange" asp-for="Title">Title</label>
				<input type="text" class="input form-control no-border bg-transparent border-0 w-100" asp-for="Title">
				<span asp-validation-for="Title" class="field-validation-error"></span>
			</div>
			<div class="description-edit input-group d-block mb-2">
				<label class="orange" asp-for="Description">Description</label>
				<textarea rows="5" cols="30" rows="5" class="input form-control no-border bg-transparent border-0 w-100" asp-for="Description"></textarea>
				<span asp-validation-for="Description" class="field-validation-error"></span>
			</div>
			<div class="price-edit input-group d-block mb-2">
				<label class="orange" asp-for="Price">Price</label>
				<input type="number" class="input form-control no-border bg-transparent border-0 w-100" asp-for="Price">
				<span asp-validation-for="Price" class="field-validation-error"></span>
			</div>
			<div class="category-edit input-group d-block mb-2">
				<label class="orange" asp-for="Category">Category</label>
				<select class="input form-control no-border bg-transparent border-0 w-100" asp-items="Model.Categories" asp-for="Category"></select>
				@*<span asp-validation-for="Category" class="field-validation-error"></span>*@
			</div>
		</div>
		<div class="col-lg-6 col-md-8 col-sm-10 m-3">
			<button type="submit" class="btn bg-orange">Add product</button>
			<a  asp-controller="Products" asp-action="Index" class="btn btn-secondary">Cancel</a>
		</div>
	</div>
</form>
