@{
	ViewData["Title"] = ": " +"Privacy";
}
<h1>Privacy policy</h1>

<p>Use this page to detail your site's privacy policy.</p>


<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h2>Om mig</h2>
				<p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid ducimus earum eligendi consectetur? Perferendis ratione, dolore at aliquid cum, soluta temporibus accusamus velit, quibusdam veritatis blanditiis eligendi fugiat. Quibusdam, at?</p>
				<ul>
					<li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
					<li>A veritatis eos eum blanditiis fugiat aliquam rerum.</li>
					<li>Pariatur ex fugit, laboriosam, earum, maxime obcaecati nihil sunt excepturi accusamus.</li>
					<li>Sint voluptatum dolore vero sit id, tenetur dolores modi, quidem iste cupiditate recusandae nihil?</li>
				</ul>
				<img src="img/rakel.png" class="img-fluid" alt="Responsive image">
			</div>
		</div>
	</div>

