@model RasmusWebShop.ViewModels.CategoriesIndexViewModel

@{
	ViewData["Title"] = ": " + "Categories";
}
<h1>Categories</h1>
<div class="row d-flex align-items-center justify-content-center">
	@foreach(var category in Model.Categories)
	{
		<div   class="product-thumbnail text-center col-lg-3 col-md-3 col-sm-9 shadow-sm m-3 pt-3 pb-3 border">
			<a asp-controller="Products" asp-action="Category" asp-route-Id="@category.Id">
				<img src="~/img/underconstruction.gif" class="img-fluid" alt="Responsive image">
				<h4 class="smaller-h4 text-uppercase p-3">@category.Title</h4>
			</a>
		</div>

	}
</div>
