@using Microsoft.AspNetCore.Components.Web
@model RasmusWebShop.ViewModels.CategoryNewViewModel

@{
	var title = Model.Title;


	ViewData["Title"] = ": New";

}
<ol class="breadcrumb bg-transparent ">
	<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
	<li class="breadcrumb-item"><a asp-controller="Categories" asp-action="Index">Categories</a></li>
	<li class="breadcrumb-item disabled"><a href="#">New</a></li>
</ol>
<h1>New category</h1>
<form method="post" asp-controller="Categories" asp-action="New">
	<div class="row d-flex align-items-center justify-content-center">
		<div class="product-edit-view col-lg-6 col-md-8 col-sm-10 mb-3 mt-5 border">
			<div class="title-edit input-group d-inline-block mb-5 mt-5 w-100">
				<label class="orange pt-3" asp-for="Title">Title</label>
				<input type="text" class=" bigger-text input form-control no-border bg-transparent border-0 w-100" asp-for="Title">
				<span asp-validation-for="Title" class="field-validation-error"></span>
			</div>
		</div>
		<div class="col-lg-6 col-md-8 col-sm-10 m-3">
			<button type="submit" class="btn bg-orange">Add category</button>
			<a  asp-controller="Categories" asp-action="Index" class="btn btn-secondary">Cancel</a>
		</div>
	</div>
</form>
